    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .menu {
        width: 100px;
        height: 100px;
        float: left;
        margin-left: 10px;
        margin-top: 20px;
    }

    h1 {
        text-align: center;
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
        text-align: center;
        background-color: gray;
    }

    .menuheader {
        background-color:gray; 
        margin-left: 25%; 
        font-size: 20px; 
        padding-left: 5px; 
        padding-right: 5px; 
        width: 45%; 
        height: 100px;
    }

    .headercontent {
        display: flex; 
        justify-content: space-between;
    }

    .headertext {
        background-color:rgba(254, 241, 108, 255); 
        width: 25%; 
        border-color:black; 
        border-style: solid; 
        border-width: 2px;
        margin-bottom: 20%;
        bottom:10%;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 15px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .row {
        background-color: rgba(254, 241, 108, 255);
    }

    * {
        box-sizing: border-box;
    }

    @media screen and (max-width:600px) {
        .column {
            width: 100%;
        }
    }

    .p1 {
        border-bottom-color: black;
        border-bottom-style: solid;
        padding-bottom: 40px;
        width: 15%;
        margin-left: 20px;
        font-size: 40px;
        padding-top: 40px;
    }

    .p2 {
        font-size:small;
    }

    .button1 {
        font-size: medium;
        background-color: rgba(254, 241, 108, 255);
        transition-duration: 0.4s;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left:5%;
    }

    .button1:hover {
        background-color: rgb(255, 249, 188);
        color: black;
    }

    dd {
        font-size:small;
    }


    /* Button used to open the contact form - fixed at the top of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        top: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: gray;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(255, 249, 188);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgba(254, 241, 108, 255);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type=text],
    .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus,
    .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }