<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css">
    <style>
    </style>
</head>

<body>
    <div class="header">
    </div>
    <div class="img">
        <img src="pizza and drink/logo.png" alt="Paris">
    </div>
    <div>
        <button class="button button5" onclick="document.location='menu.html'">ORDER</button>
    </div>
</body>

</html>