<!DOCTYPE html>
<html>

<head>
    <title>Orders</title>
    <link rel="stylesheet" href="../static/luigi.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 5initial-scale=1">
</head>

<body>
    <div class="split left">
        <h1>Incoming Orders</h1>

        {%for item in pendingOrders%}

        <div class="menuheader">
            <h3>{{item[1]}}</h3>
            <h3>Table#{{item[0]}}</h3><br>
            <p>
            <div class="headercontent">
                <input type="checkbox" id="inOven" name="inOven" value="inOven">
                <label for="inOven"> In oven</label><br><br>
                <input type="button" value="Ready" onclick="readyOrder(this)">
            </div>
            </p>
        </div>

        {%endfor%}
    </div>


    <div class="split right">
        <h2>Ready</h2>

        {%for item in readyOrders%}

        <div class="menuheader2">
            <h3>{{item[1]}}</h3>
            <h3>Table#{{item[0]}}</h3><br>
        </div>

        {%endfor%}
    </div>

    <script>
        function readyOrder(currentElement) {
            let nodeList = currentElement.parentElement.parentElement.childNodes
            let item = nodeList[1].textContent
            let tableNumber = nodeList[3].textContent.split('#')[1]

            fetch("/order-ready", {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({
                    item,
                    tableNumber
                })
            }).then(res => {
                console.log("Request complete! response:", res)
            });
        }
    </script>
</body>

</html>