<!DOCTYPE html>
<html>

<head>
    <title>Orders</title>
    <link rel="stylesheet" href="../static/luigi.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 5initial-scale=1">
</head>

<body>
    <div class="split left">
        <h1>Incoming Orders</h1>

        {%for item in pendingOrders%}

        {%if item[2] == "pizza"%}
        <div class="menuheader">
            <h3>{{item[1]}}</h3>
            <h3>Table#{{item[0]}}</h3><br>
            <p>
            <div class="headercontent">
                <input type="button" value="Cook pizza" onclick="readyOrder(this, 'pizza')">
            </div>
            </p>
        </div>
        {%endif%}

        {%if item[2] == "drink"%}
        <div class="menuheader">
            <h3>{{item[1]}}</h3>
            <h3>Table#{{item[0]}}</h3><br>
            <p>
            <div class="headercontent">
                <input type="button" value="Deliver drink" onclick="readyOrder(this, 'drink')">
            </div>
            </p>
        </div>
        {%endif%}

        {%endfor%}
    </div>


    <div class="split right">
        <h2>Ready</h2>

        {%for item in readyOrders%}

        <div class="menuheader2">
            <h3>{{item[1]}}</h3>
            <h3>Table#{{item[0]}}</h3><br>
        </div>

        {%endfor%}
    </div>

    <script>
        function readyOrder(currentElement, type) {
            let nodeList = currentElement.parentElement.parentElement.childNodes
            let item = nodeList[1].textContent
            let tableNumber = nodeList[3].textContent.split('#')[1]

            fetch(`/${type}-ready`, {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify({
                    item,
                    tableNumber,
                    type
                })
            }).then(res => {
                console.log("Request complete! response:", res)

                location.reload()
            });
        }
    </script>
</body>

</html>