<!DOCTYPE html>
<html>

<head>
    <title>Menu</title>
    <link rel="stylesheet" href="../static/menu.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 5initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // These functions act whenever the button of the same id is pressed and make text appear in a popup.
        $(document).ready(function(){
            $("#margherita").click(function () {
                $("#inForm").append("<p class='margherita3'>Margherita Pizza $3.99</p>", '<button id="margherita2" class="button2">Remove</button>');
            });

            $("#margherita2").click(function () {
                $(".margherita3").remove();
            });

            $("#pepperoni").click(function () {
                $("#inForm").append("<br>Pepperoni Pizza $4.99 <br>");
            });
            
            $("#cheese").click(function () {
                $("#inForm").append("<br>Cheese Pizza $2.99 <br>");
            });

            $("#meat").click(function () {
                $("#inForm").append("<br>Meat Pizza $3.50 <br>");
            });

            $("#bbq").click(function () {
                $("#inForm").append("<br>BBQ Chicken $6.50 <br>");
            });

            $("#hawaii").click(function () {
                $("#inForm").append("<br>Hawaii Pizza $4.50 <br>");
            });

            $("#tonno").click(function () {
                $("#inForm").append("<br>Tonno Pizza $4.50 <br>");
            });

            $("#funghi").click(function () {
                $("#inForm").append("<br>Funghi Pizza 4.50 <br>");
            });

            $("#calzone").click(function () {
                $("#inForm").append("<br>Calzone Pizza $6.99 <br>");
            });

            $("#fanta").click(function () {
                $("#inForm").append("<br>Fanta $2.99 <br>");
            });

            $("#coca").click(function () {
                $("#inForm").append("<br>Coca Cola $2.99 <br>");
            });

            $("#sprite").click(function () {
                $("#inForm").append("<br>Sprite $2.99 <br>");
            });

            $("#cassis").click(function () {
                $("#inForm").append("<br>Cassis $2.99 <br>");
            });

            $("#drpepper").click(function () {
                $("#inForm").append("<br>Dr. Pepper $2.99 <br>");
            });

            $("#pepsi").click(function () {
                $("#inForm").append("<br>Pepsi $2.99 <br>");
            });

            $("#lipton").click(function () {
                $("#inForm").append("<br>Lipton Ice Tea $2.99 <br>");
            });

            $("#coffee").click(function () {
                $("#inForm").append("<br>Coffee $3.50 <br>");
            });

            $("#cappuccino").click(function () {
                $("#inForm").append("<br>Cappuccino $3.50 <br>");
            });

            

        });


    </script>
    <!-- this scripts is for opening the popup and closing it. -->
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

    </script>
</head>

<body>
    <img src="static/pizza and drink/logo.png" style="width:250px; height:100px;" class="center">
    <h1>Menu</h1>


    <div class="row">
        <h2>Pizzas</h2>
        <div class="column">
            <img src="pizza and drink/margherita.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Margherita</p>
                <div class="headercontent">
                    <p class="headertext">$3.99</p>
                    <button id="margherita" class="button1">Add</button>
                </div>

            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/pepperoni.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pepperoni</p>
                <div class="headercontent">
                    <p class="headertext">$4.99</p>
                    <button id="pepperoni" class="button1">Add</button>
                </div>

            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/cheese.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Cheese</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="cheese" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/meat.jpg" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Meat Pizza</p>
                <div class="headercontent">
                    <p class="headertext">$3.99</p>
                    <button id="meat" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/BBQ.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">BBQ Chicken</p>
                <div class="headercontent">
                    <p class="headertext">$6.50</p>
                    <button id="bbq" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/hawaii.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pizza Hawaii</p>
                <div class="headercontent">
                    <p class="headertext">$4.50</p>
                    <button id="hawaii" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/tonno.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pizza Tonno</p>
                <div class="headercontent">
                    <p class="headertext">$4.50</p>
                    <button id="tonno" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/fungi.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pizza Funghi</p>
                <div class="headercontent">
                    <p class="headertext">$4.50</p>
                    <button id="funghi" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/calzone.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pizza Calzone</p>
                <div class="headercontent">
                    <p class="headertext">$6.99</p>
                    <button id="calzone" class="button1">Add</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <h2>Drinks</h2>
        <div class="column">
            <img src="pizza and drink/fanta.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Fanta</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="fanta" class="button1">Add</button>
                </div>

            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/cocacola.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Coca Cola</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="coca" class="button1">Add</button>
                </div>

            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/sprite.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Sprite</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="sprite" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/cassis.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Cassis</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="cassis" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/drpepper.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Dr. Pepper</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="drpepper" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/pepsi.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Pepsi</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="pepsi" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/lipton.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Lipton Ice Tea</p>
                <div class="headercontent">
                    <p class="headertext">$2.99</p>
                    <button id="lipton" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/coffee.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Coffee</p>
                <div class="headercontent">
                    <p class="headertext">$3.50</p>
                    <button id="coffee" class="button1">Add</button>
                </div>
            </div>
        </div>

        <div class="column">
            <img src="pizza and drink/cappuccino.png" class="menu">
            <div class="menuheader">
                <p style="padding-top:5px;">Cappuccino</p>
                <div class="headercontent">
                    <p class="headertext">$3.50</p>
                    <button id="cappuccino" class="button1">Add</button>
                </div>
            </div>
        </div>

    </div>

    <!-- A button to open the popup form -->
    <button class="open-button" onclick="openForm()">Open Order</button>

    <!-- The form -->
    <div class="form-popup" id="myForm">
        <form action="/pizza/menu.html" class="form-container">
            <h1 style="padding-left:80px; padding-right:80px; padding-top: 10px;">Order</h1>
            <p id="inForm"></p>
            
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            <button type="button" class="btn" onclick="document.location='pay.html'">Pay</button>
        </form>
    </div>

</body>

</html>