<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/pay.css">
<style>
</style>
</head>
<body>
<div class="header">
</div>
<div class="img">
<img src="pizza and drink/logo.png" alt="Paris">
</div>
<div class="order" style="text-align:center">
    <p> ORDER IS COMPLETE</p>
    <p> PLEASE TAKE A SEAT </p>
    <p> YOUR ORDER WILL BE AT YOUR TABLE SOON</p>
  </div>
</body>
</html>

